/*body{font:12px/1.2 Verdana, sans-serif; padding:0 10px;}*/

a:link, a:visited{text-decoration:none; color:#416CE5; border-bottom:1px solid #416CE5;}

.modal-body{
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.image-dis-col{
    height: 280px;
    overflow: hidden;
}

.preview{
    max-width: 100%;
    max-height: 100%;
}

.thumbnail{
    margin: 0;
}

label {
    display: block;
    font-family:"Arial Black", Gadget, sans-serif;
}

/*
input {
    //position: absolute;
    padding: 0;
    margin:0;
}


.image-dis-col label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

*/


